<!-- <div class="boxBorder"><div class="transparentBox"></div></div> -->
<div class="profile">

  <img class="profilePic" src="./images/profilePic.png" />

  <div class="profileRight">

    <h3 class="myName">Alan Adamson</h3>

    <div class="profileDesc">
      <h3>Web Developer</h3>
      <ul>
        <li>Node.js</li>
        <li>AngularJS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>SQL</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div><!--profileDesc-->

  </div><!--profileRight-->
  
</div><!--prfile-->

<div class="soon"><p>Portfolio page is coming soon. For now take a look at some of my code on <a href="https://www.github.com/AlanAdamson">GitHub - AlanAdamson</a>.</p></div>
